$color1: rgba(107, 250, 95, 1);
$color2: rgba(36, 129, 215, 0.9);
body {
    background-color: #bbdef0;
}

* {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'JetBrains Mono', monospace;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -18rem;
}

.card {
    position: relative;
    background: #333;
    width: 400px;
    height: 75vh;
    border-radius: 39px;
    padding: 2rem;
    color: #aaa;
    box-shadow: 0 4.25rem 4.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 46rem;
    width: 52rem;
    &__image-container {
        margin: -2rem -2rem 1rem -2rem;
    }
    &__line {
        opacity: 0;
        animation: LineFadeIn .8s .8s forwards ease-in;
    }
    &__image {
        opacity: 0;
        animation: ImageFadeIn .8s 1.4s forwards;
    }
    &__title {
        color: white;
        margin-top: 0;
        font-weight: 800;
        letter-spacing: 0.01em;
        font-size: 4.5rem;
    }
    &__title2 {
        color: white;
        margin-top: 0;
        font-weight: 800;
        letter-spacing: 0.01em;
        font-size: 2.5rem;
    }
    &__content {
        margin-top: -1rem;
        opacity: 0;
        animation: ContentFadeIn .8s 1.6s forwards;
    }
    &__svg {
        position: absolute;
        left: 0;
        top: 115px;
    }
}

@keyframes LineFadeIn {
    0% {
        opacity: 0;
        d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
        stroke: #fff;
    }
    50% {
        opacity: 1;
        d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
        stroke: #888BFF;
    }
    100% {
        opacity: 1;
        d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
        stroke: #545581;
    }
}

@keyframes ContentFadeIn {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes ImageFadeIn {
    0% {
        transform: translate(-.5rem, -.5rem) scale(1.05);
        opacity: 0;
        filter: blur(2px);
    }
    50% {
        opacity: 1;
        filter: blur(2px);
    }
    100% {
        transform: translateY(0) scale(1.0);
        opacity: 1;
        filter: blur(0);
    }
}

.newcardtitle {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    font-family: 'Fredoka One', cursive;
}

.indexpics_nice {
    max-width: 100%;
    margin-top: -4rem;
}

.showtitle {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    font-family: 'JetBrains Mono', monospace;
}

.newloco {
    display: flex;
    justify-content: center;
}

video {
    margin-top: 6rem;
}

.newmaptitle {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    font-family: 'JetBrains Mono', monospace;
}

//new nav
// Specific CSS for your home-page
@media screen and (max-width: 700px) {
    body {
        padding: 170px 0 0 0;
        width: 100%
    }
}

a {
    color: inherit;
}

.menu-item,
.menu-open-button {
    background: #7bf1a8;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
    display: none;
}

.lines {
    width: 25px;
    height: 3px;
    background: #596778;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.line-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.menu-open:checked+.menu-open-button .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked+.menu-open-button .line-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked+.menu-open-button .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    box-sizing: border-box;
    font-size: 26px;
}


/* .menu-item {
    transition: all 0.1s ease 0s;
 } */

.menu-item:hover {
    background: #EEEEEE;
    color: #3290B1;
}

.menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(7) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(8) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(9) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked~.menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked~.menu-item:nth-child(3) {
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;
    -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
    transform: translate3d(0.08361px, -104.99997px, 0);
}

.menu-open:checked~.menu-item:nth-child(4) {
    transition-duration: 280ms;
    -webkit-transition-duration: 280ms;
    -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
    transform: translate3d(90.9466px, -52.47586px, 0);
}

.menu-open:checked~.menu-item:nth-child(5) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
    transform: translate3d(90.9466px, 52.47586px, 0);
}

.menu-open:checked~.menu-item:nth-child(6) {
    transition-duration: 480ms;
    -webkit-transition-duration: 480ms;
    -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
    transform: translate3d(0.08361px, 104.99997px, 0);
}

.menu-open:checked~.menu-item:nth-child(7) {
    transition-duration: 580ms;
    -webkit-transition-duration: 580ms;
    -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
    transform: translate3d(-90.86291px, 52.62064px, 0);
}

.menu-open:checked~.menu-item:nth-child(8) {
    transition-duration: 680ms;
    -webkit-transition-duration: 680ms;
    -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
    transform: translate3d(-91.03006px, -52.33095px, 0);
}

.menu-open:checked~.menu-item:nth-child(9) {
    transition-duration: 780ms;
    -webkit-transition-duration: 780ms;
    -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
    transform: translate3d(-0.25084px, -104.9997px, 0);
}

.blue {
    background-color: #9fffcb;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.blue:hover {
    color: #9fffcb;
    text-shadow: none;
}

.green {
    background-color: #9fffcb;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.green:hover {
    color: #9fffcb;
    text-shadow: none;
}

.red {
    background-color: #9fffcb;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.red:hover {
    color: #9fffcb;
    text-shadow: none;
}

.purple {
    background-color: #9fffcb;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.purple:hover {
    color: #9fffcb;
    text-shadow: none;
}

.orange {
    background-color: #9fffcb;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.orange:hover {
    color: #9fffcb;
    text-shadow: none;
}

.lightblue {
    background-color: #9fffcb;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.lightblue:hover {
    color: #9fffcb;
    text-shadow: none;
}

.credit {
    margin: 24px 20px 120px 0;
    text-align: right;
    color: #EEEEEE;
}

.credit a {
    padding: 8px 0;
    color: #9fffcb;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.credit a:hover {
    text-decoration: underline;
}

//prices
.newback {
    margin-top: -14rem;
}