<%# <h1 class="newmaptitle">Find your Ashtray :</h1> %>

<div class="mapboss" >
<div id='map'></div>
<div>
<script>
mapboxgl.accessToken = '<%= ENV['MAPBOX_API_KEY'] %>';
var map = new mapboxgl.Map({
container: 'map', // container id
style: 'mapbox://styles/mapbox/streets-v11',
center: [5.5729076, 49.8148347], // starting position
zoom: 3 // starting zoom
});
var marker = new mapboxgl.Marker()
.setLngLat([14.550343, 20.665957])
.addTo(map);

var marker = new mapboxgl.Marker()
.setLngLat([14.550343, 55.665957])
.addTo(map);

// Add geolocate control to the map.
map.addControl(
new mapboxgl.GeolocateControl({
positionOptions: {
enableHighAccuracy: true
},
trackUserLocation: true
})
);
</script>


    <div class="card-w ">
    <div class="card neumorphism">
    <div class="card__icon">
   
    </div>
    <div class="card__text">
      Just locate yourself and find the nearest Ashtray!
    <button class="btn btn-primary btn-jittery">
    <a href="/">Go Back</a>
    </button>
    </div>
  </div>
  </div>

  