<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="carduse user-card">
                <div class="card-header">
                    <h5>Profile</h5>
                </div>
                <div class="card-block">
                    <div class="user-image">
                        <%# <%if @user.photo.attached? || !@user.avatar_url.nil?%>
                        <%# <%= image_tag @user.avatar_url, class: "profile-pic" %>
                    <%# <%end%>  
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">Username : 
                    <%= current_user.username %></h6>
                    <p class="text-muted"></p>
                    <hr>
                    <h6 class="f-w-600 m-t-25 m-b-10">Name : 
                    <%= current_user.full_name %></h6>
                    <h6 class="f-w-600 m-t-25 m-b-10">Email : 
                    <%= current_user.email %></h6>
                    <div class="bg-c-blue counter-block m-t-10 p-20">
                        Points :
                    </div>
                    <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                        <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>