<nav class="menu">
   <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
   <label class="menu-open-button" for="menu-open">
    <span class="lines line-1"></span>
    <span class="lines line-2"></span>
    <span class="lines line-3"></span>
  </label>

   <a href="/flats" class="menu-item blue"> <i class="fa fa-map-marked-alt"></i> </a>
   <a href="#" class="menu-item green"> <i class="fa fa-qrcode"></i> </a>
   <a href="/offers" class="menu-item red"> <i class="fa fa-trophy"></i> </a>
   <a href="/path/users/show" class="menu-item purple"> <i class="fa fa-user"></i> </a>
   <a href="/path/questions" class="menu-item orange"> <i class="fa fa-question"></i> </a>
   <a href="/path/share" class="menu-item lightblue"> <i class="fa fa-share"></i> </a>
</nav>