

<div class="newback">
<h1 class="newcardtitle">This Month :</h1>

        <%@offers.each do |offer|%>
            
      
         <section class="cards-wrapper">
  <div class="card2-grid-space">
    
    <div class="card2" style="--bg-img: url(https://res.cloudinary.com/dn6wh4u2h/image/upload/v1610199729/airpodstest_va9l24.jpg)">
   
    <div>
        <%= link_to offer_path(offer) do %> 
        <h1><%= offer.title %></h1>
        <p><%=offer.description%></p>
        <%end%> 
        
        <div class="tags">
          <div class="tag"><%=offer.points%>PTS</div>
        </div>
  </div>
    </div>
  </div>
 </div> 
    
  
</section>

<%end%>