:root {
    --color: #7bf1a8;
    --transition-time: 0.5s;
}

* {
    box-sizing: border-box;
}

.cards3-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    margin: 0 auto;
    width: max-content;
}

.card3 {
    font-family: 'Heebo';
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
    height: 8em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em black;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 10px solid #ccc;
    text-decoration: none;
}

.card3:hover {
    transform: rotate(0);
}

.card3 h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
}

.card3 p {
    font-size: 0.75em;
    font-family: 'Open Sans';
    margin-top: 0.5em;
    line-height: 2em;
}

.card3 .tags {
    display: flex;
}

.card3 .tags .tag {
    font-size: 0.75em;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
}

.card3:hover .tags .tag {
    background: var(--color);
    color: white;
}

.card3 .date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
}

.card3:before,
.card3:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
}

.card3:before {
    background: #ddd;
    width: 250%;
    height: 250%;
}

.card3:after {
    background: white;
    width: 200%;
    height: 200%;
}

.card3:hover {
    color: var(--color);
}

.card3:hover:before,
.card3:hover:after {
    transform: scale(1);
}

.card2-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}

.info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
}

.info img {
    height: 3em;
    margin-right: 0.5em;
}

.info h1 {
    font-size: 1em;
    font-weight: normal;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1285px) {
    .cards3-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .cards3-wrapper {
        grid-template-columns: 1fr;
    }
    .info {
        justify-content: center;
    }
    .card2-grid-space .num {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .cards3-wrapper {
        padding: 4rem 2rem;
    }
    .card3 {
        max-width: calc(100vw - 4rem);
    }
}

@media screen and (max-width: 450px) {
    .info {
        display: block;
        text-align: center;
    }
    .info h1 {
        margin: 0;
    }
}

.newcardtitle2 {
    display: flex;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
}

.newcardtitle3 {
    display: flex;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
    margin-top: 3rem;
}

.newcardtitle4 {
    display: flex;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
    margin-top: 3rem;
}

//cards show
.cards3-wrapper {
    margin-top: -14rem;
}